/* Estilo para el modal */
.modal {
    display: none; /* Asegúrate de que esté oculto por defecto */
    position: fixed;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Fondo oscuro para el modal */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Estilo para la imagen del modal */
#imagenModal {
    max-width: 90%;
    max-height: 80%;
    transition: transform 0.3s ease;
    border: 5px solid #fff; /* Agrega un borde blanco para destacarse */
}

/* Estilo para el texto del modal */
#textoModal {
    color: #fff; /* Color del texto blanco para contraste */
    text-align: center;
    padding: 10px;
    width: 90%; /* Ajusta el ancho según sea necesario */
    max-width: 800px;
}

/* Estilo para el botón de cerrar */
#cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambio de color al pasar el ratón sobre el botón de cerrar */
#cerrar:hover {
    color: #bbb;
}

/* Asegúrate de que el modal y su contenido sean visibles en dispositivos móviles */
@media only screen and (max-width: 700px) {
    #imagenModal {
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente */
    }
}
